<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{ content[1] }}</title>
    <link href="{{ url_for('static',filename='css/base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/comman.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/iconfont.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/my_article.css') }}" rel="stylesheet">
    <script src="{{ url_for('static',filename='js/jq.js') }}"></script>
    <script>
        // 留言功能
        function leaveMessage() {
            // 创建对应节点
            let oLi = document.createElement('li'),
                oSpan = document.createElement('span'), // 评论内容
                oDelA = document.createElement('a');  // 删除按钮
            // 设置a标签相应属性
            oDelA.href = 'javascript:void(0)';
            oDelA.innerHTML = '删除';
            oDelA.className = 'fr';
            // 删除功能
            oDelA.onclick = function () {
                oUl.removeChild(this.parentNode);
            }
            // 设置span标签相应属性
            oSpan.innerHTML = oText.value;
            oSpan.title = oText.value;
            // 将标签依次添加到li标签中
            oLi.append(oSpan)
            oLi.appendChild(oDelA);
            // 通过insertBefore将li标签插入到第一个元素位置。
            oUl.insertBefore(oLi, oUl.children[0]);
            // 清空文本框
            oText.value = '';
            // 初始化按钮
            oBtn.disabled = true;
            oBtn.className = "sub_comment";
        }
    </script>
</head>
<body>
<!--外部引入标题栏-->
<header id="header" style="height: 50px;z-index: 2;position: fixed; top: 0;width: 100%;"></header>
<!--正文区域-->
<div class="warp">
    <!--左侧栏-->
    <div class="fl" style="width: 300px;">
        <div class="bg_model" style="display: flex; flex-direction: column;align-items: center;">
            <img src="{{ url_for('static',filename='img/ad.jpg') }}" style="width:300px;height:100px;" alt="">
        </div>
        <!--专栏，详注见index.html-->
        <div class="bg_model">
            <div class="little_title">新型设备专栏</div>
            <ul class="author_detail author_zhuanlan">
                <li><a>红外测温</a><span class="fr">2篇</span></li>
                <li><a>在线打卡</a><span class="fr">1篇</span></li>
                <li><a>多人会议</a><span class="fr">6篇</span></li>
                <li><a>疫情消杀设备</a><span class="fr">14篇</span></li>
                <li><a>校园智能快递车</a><span class="fr">2篇</span></li>
            </ul>
            <div class="more">更多&nbsp;<i class="i down"></i></div>
            <div class="more d-none">收起&nbsp;<i class="i up"></i></div>
            <script>
                let oMore = document.querySelector('.more'),
                    oLess = document.querySelectorAll('.more')[1],
                    oZhuanLan = document.querySelector('.author_zhuanlan');
                oMore.onclick = function () {
                    oMore.className = "more d-none";
                    oLess.className = "more";
                    oZhuanLan.style.height = 'auto';
                }
                oLess.onclick = function () {
                    oMore.className = 'more';
                    oLess.className = 'more d-none';
                    oZhuanLan.style.height = '98px';
                }
            </script>
        </div>
        <div class="bg_model">
            <div class="little_title">请对网站打分！</div>
            <form action="" method="post" name="Star">
                <div class="evaluation">
                    <ul class="star_bar"></ul>
                    <script>
                        let oStars = document.querySelector('.star_bar');
                        for (let i = 0; i < 5; i++) {
                            oStars.innerHTML += '<li class="star"><span class="iconfont icon-shoucang"></span></li>'
                        }
                    </script>
                    <button id="sub" onclick="alert('提交成功！')" type="submit">提交</button>
                </div>
            </form>
        </div>
        <script>
            let stars = document.querySelectorAll('.star'),
                ul = document.getElementsByClassName('star_bar')[0],
                l = stars.length,
                scrap = -1;
            for (let i = 0; i < l; i++) {
                stars[i].onmouseenter = function () {
                    light(i);
                }
                stars[i].onclick = function () {
                    scrap = i;
                }
                ul.onmouseleave = function () {
                    light(scrap);
                }
            }

            function light(x) {
                for (let j = 0; j <= x; j++) {
                    stars[j].className = "star on";
                }
                for (let j = x + 1; j < l; j++) {
                    stars[j].className = "star"
                }
            }
        </script>
    </div>
    <!--右侧文章栏-->
    <div class="right_text fr">
        <div class="bg_model main_text">
            <h1 id="h1_title">{{ content[1] }}</h1>
            <div class="text_head">
                <div class="head_content">
                    <img alt="公示" src="{{ url_for('static',filename='img/original.png') }}"
                         style="width: 36px;height: 32px;margin-right: 12px;line-height: 32px;vertical-align: middle;"
                    >
                    <span class="span_content">发布日期：{{ content[3] }}</span>
                    <span class="span_content"><span class="iconfont icon-eye"></span> {{ content[5] }} </span>
                </div>
                <div class="blog_tags">
                    <span class="span_label">有效期：</span>
                    <a class="a_label">
                        {% if content[4] == -1 %}
                            永久
                        {% else %}
                            {{ content[4] }}天
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="text">
                {#                {{ content[2] }}#}
                {% for p in content[2].split('\r\n') %}
                    <p>{{ p }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="comment_bar bg_model">
            <div class="inp_comment_bar">
                <input id="inp_comment" name="user_comment" placeholder="说点好听的" type="text">
                <button class="sub_comment" disabled>评论</button>
            </div>
            <ul class="comment_list"></ul>
        </div>
        <script>
            //留言功能
            let oText = document.querySelector('#inp_comment'),
                oBtn = document.querySelector('.sub_comment'),
                oUl = document.querySelector('.comment_list');
            oText.onkeyup = function () {
                if (oText.value.length > 0) {
                    oBtn.className = "sub_comment ready_comment";
                    oBtn.disabled = false;
                } else {
                    oBtn.className = "sub_comment";
                    oBtn.disabled = true;
                }
            }
            oBtn.onclick = leaveMessage;
        </script>
    </div>
</div>
<footer id="footer" style="width:100%;height:92px;position: relative; bottom: 0" class="clear"></footer>
<div></div>
<script>
    $(document).ready(
        function () {
            $('#header').load('{{ url_for('header') }}');
            $('#footer').load('{{ url_for('footer') }}');
        }
    )
</script>
</body>
</html>
