<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>FOOTER</title>
</head>
<body>
<div class="" id="copyright-box">
    <div class="column" id="csdn-copyright-footer">
        <ul class="footer-column-t">
            <li>
                <a>关于我们</a>
            </li>
            <li>
                <a>招贤纳士</a>
            </li>
            <li>
                <b class="iconfont icon-dianhua"></b>
                <span>xxx-xxx-xxx</span>
            </li>
            <li>
                <b class="iconfont icon-youxiang"></b>
                <a>xxxx@xxx.net</a>
            </li>
            <li>
                <b class="iconfont icon-kefu1"></b>
                <a>在线客服</a>
            </li>
            <li>
                工作时间&nbsp;9:00-17:00
            </li>
        </ul>
        <ul class="footer-column-b">
            <li><img alt="" src="{{ url_for('static',filename='img/beian.png') }}">
                <a rel="noreferrer">公安备案号xxxxxxxxxxxx</a></li>
            <li><a>豫ICP备xxxxxxxxxx号</a></li>
            <li><a>经营性网站备案信息</a></li>
            <li>&copy; 2022 刘晨旭 2007441205</li>
            <li><a>中国互联网举报中心</a></li>
            <li><a>版权与免责声明</a></li>
            <li><a>版权申诉</a></li>
            <li><a>营业执照</a></li>
        </ul>
    </div>
</div>
</body>
</html>
