<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>G1F's Hus' 8L0G</title>
    <link href="{{ url_for('static',filename='../css/base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='../css/comman.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='../css/iconfont.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='../css/index.css') }}" rel="stylesheet">
    <script>
        const X_TRSLT = -320;
        let now_trslt = 0,
            now_show_dot = 1, //[1,2,3,4]
            img_count = 4,
            run = setInterval(next, 2000);

        function auto() {
            run = setInterval(next, 2000);
        }

        function stop() {
            clearInterval(run);
        }


        function next(LorR = 1) {
            for (let i = 1; i <= img_count; i++) {
                let dot = document.getElementById(i.toString())
                if (dot.className === "dot_item dot_checked") {
                    now_show_dot = i + LorR
                }
            }
            if (now_show_dot >= img_count + 1)
                now_show_dot = 1;
            if (now_show_dot <= 0)
                now_show_dot = img_count;
            picked(now_show_dot.toString())
        }

        function picked(index) {
            now_show_dot = parseInt(index)
            let bars = document.getElementById('img_bar');
            now_trslt = (parseInt(index) - 1) * X_TRSLT
            bars.style.transform = "translateX(" + now_trslt + "px)";
            for (let i = 1; i <= img_count; i++) {
                let clear_id = document.getElementById(i.toString());
                clear_id.className = "dot_item";
            }
            document.getElementById(index).className += " dot_checked";
        }

        let user_text_info_title = [5542, 42, 175482, 1057],
            user_text_info = ['被访问量', '原创文章', '作者排名', '粉丝数量'],
            article = [
                //文章： [标题，摘要，阅读，评论，收藏，链接]
                ['信息系统等保咨询及测评服务与校园网络安全运维项目采购意向公开', '信息系统：网站群、一卡通系统、体育信息化管理平台app、办公自动化系统等信息系统等保咨询及测评服务，校园网、一卡通网等与等保系统相关设施设备的安全运维以及图书馆内网、财务内网等的相关设施设备的安全运维', 10, 0, 0, 'my_article.html'],
                ['XX理工学院耕读教育文化建设采购项目询价采购公告', 'XX理工学院学生食堂建设消防喷淋灭火系统、自动报警系统采购及安装项目', 602, 30, 6, 'javascript:void(0)'],
                ['XX财贸职业学院2022年5月政府采购意向', 'XX财贸职业学院图书馆2022年图书文献和电子阅读建设，图书馆2022年图书文献和电子阅读建设项目为图书馆常规建设项目，项目总预算为240万元。其中，拟安排资金160万元用于采购一批图书馆纸质馆藏图书，安排80万元用于采购若干电子阅读网络服务，包括数据库平台、考试系统等。', 19, 3, 0, 'javascript:void(0)'],
                ['XX医科大学2022年6月至7月政府采购意向', 'XX医科大学2022年中文期刊订购项目，XX医科大学拟采购2022年中文期刊约986种，保证期刊收藏连续性，满足广大师生读者的教学科研需求。要求须能根据用户需求及时提供本年度的书本式报刊征订目录或电子版报刊征订目录；按用户的中文期刊购买', 11, 1, 0, 'javascript:void(0)'],
                ['XX师范大学关于学校宿舍空调的竞价采购邀请公告', '核心参数要求:商品类目: 空调; 颜色分类:白;型号:KFR-50GW/(****)FNhAa-B2JY01;是否需要安装:需要;智能类型:不支持智能;适用面积:23-34㎡;能效等级:二级;冷暖类型:冷暖型', 27, 1, 0, 'javascript:void(0)'],
                ['XX城市职业技术学院消防设施维护保养项目的采购', '专业团队对学校以及周边的安全设施进行必要的养护和修理工作，开设承包团队长期护理设施。', 2, 0, 0, 'javascript:void(0)'],
                ['XX职业技术学院信息化教学能力提升项目', 'XX职业技术学院戏曲表演艺术传承与创新智慧直播推广项目', 159, 2, 3, 'javascript:void(0)'],
                ['XX农业大学关于办公设备维修和保养服务的网上超市采购项目', '项目需支持长期维护办公设备维修以及专业保养服务团队进行处理', 255, 3, 3, 'javascript:void(0)']
            ];
    </script>
    <script src="{{ url_for('static',filename='js_index.js') }}"></script>
</head>
<body>
<!--导航栏（object引入外部网页）-->
<object data="{{ url_for('header') }}?ls=1" height="50px" style="z-index: 2;position: fixed; top: 0;width: 100%"
        width="100%"></object>
<!--上方内容-->
<div class="bg_bar">
    <div class="blog_info">
        <h1>G1F's Hus' 8L0G</h1>
        <p>随心更新学习笔记，欢迎指正</p>
    </div>
    <!--头像及性别-->
    <div class="head_bar">
        <img alt="" class="my_head" src="{{ url_for('static',filename='img/my_head.png') }}">
        <div class="user_sex"></div>
    </div>
</div>
<!--标题-->
<div class="title">
    <div class="double_btn">
        <a class="btn btn_changeInfo">修改资料</a>
        <a class="btn btn_old">切换旧版</a>
    </div>
    <div class="user_info_title">
        <span>AYO_YO</span>
        <span><img alt="" class="little_logo" src="{{ url_for('static',filename='img/blog3.png') }}"></span>
        <span><img alt="" class="little_logo"
                   src="{{ url_for('static',filename='img/icon-cert-realName.7045f950.png') }}"></span>
    </div>
    <ul class="text_info"></ul>
    <!--生成作者数据-->
    <script>
        let oTextInfo = document.querySelector('.text_info');
        for (let i = 0; i < user_text_info_title.length; i++) {
            oTextInfo.innerHTML += '<li><h2>' + user_text_info_title[i] + '</h2><p>' + user_text_info[i] + '</p></li>'
        }
    </script>
</div>
<!--下方正文-->
<div class="content">
    <!--左侧信息栏-->
    <div class="left_author">
        <div class="bg_model birthday">
            <span class="iconfont icon-birthday"></span>于 2022-4-1 创立招标门户网站
        </div>
        <div class="bg_model">
            <div class="little_title">招标热榜</div>
            <ul class="author_detail author_honor">
                <li><img alt="" src="{{ url_for('static',filename='img/logo_like.png') }}">教师端移动新设备采购</li>
                <li><img alt="" src="{{ url_for('static',filename='img/logo_comman.png') }}">新型授课系统</li>
                <li style="margin: 0;"><img alt="" src="{{ url_for('static',filename='img/logo_collect.png') }}">校园红外签到设备
                </li>
            </ul>
        </div>
        <div class="bg_model">
            <div class="little_title">招标在线达人</div>
            <!--轮播图-->
            <div class="lunbo_medal" onmouseenter="stop()" onmouseleave="auto()">
                <ul class="author_detail author_medal" id="img_bar">
                    <li><img alt="" src="{{ url_for('static',filename='img/qiandao3@240.png') }}" title="签到新秀"></li>
                    <!--                <li><img alt="" src="{{ url_for('static',filename='img/qiandao1@240.png') }}"></li>-->
                    <li><img alt="" src="{{ url_for('static',filename='img/yuedu7@240.png') }}" title="阅读达人"></li>
                    <li><img alt="" src="{{ url_for('static',filename='img/chizhiyiheng@240.png') }}" title="持之以恒"></li>
                    <li><img alt="" src="{{ url_for('static',filename='img/qixiebiaobing2@240.png') }}" title="勤写标兵">
                    </li>
                </ul>
                <a class="next_medal" href="javascript:void(0)" id="left_medal" onclick="next(-1)">&lt;</a>
                <a class="next_medal" href="javascript:void(0)" id="right_medal" onclick="next(1)">&gt;</a>
                <!--导航小圆点-->
                <ul class="car_btn_bar">
                    <li class="dot_item dot_checked" id="1" onmouseenter="picked(this.id)"></li>
                    <li class="dot_item" id="2" onmouseenter="picked(this.id)"></li>
                    <li class="dot_item" id="3" onmouseenter="picked(this.id)"></li>
                    <li class="dot_item" id="4" onmouseenter="picked(this.id)"></li>
                </ul>
            </div>
        </div>
        <!--招标范围-->
        <div class="bg_model">
            <div class="little_title">招标范围</div>
            <ul class="author_detail author_hobby">
                <li><a href="javascript:void(0)">#教资设备</a></li>
                <li><a href="javascript:void(0)">#信息维护</a></li>
            </ul>
        </div>
        <div class="bg_model">
            <!--折叠窗口-->
            <div class="little_title">新型设备专栏</div>
            <ul class="author_detail author_zhuanlan">
                <li><a>红外测温</a><span class="fr">2篇</span></li>
                <li><a>在线打卡</a><span class="fr">1篇</span></li>
                <li><a>多人会议</a><span class="fr">6篇</span></li>
                <li><a>疫情消杀设备</a><span class="fr">14篇</span></li>
                <li><a>校园智能快递车</a><span class="fr">2篇</span></li>
            </ul>
            <div class="more">更多&nbsp;<i class="i down"></i></div>
            <div class="more d-none">收起&nbsp;<i class="i up"></i></div>
            <script>
                let oMore = document.querySelector('.more'),
                    oLess = document.querySelectorAll('.more')[1],
                    oZhuanLan = document.querySelector('.author_zhuanlan');
                oMore.onclick = function () {
                    oMore.className = "more d-none";
                    oLess.className = "more";
                    oZhuanLan.style.height = 'auto';
                }
                oLess.onclick = function () {
                    oMore.className = 'more';
                    oLess.className = 'more d-none';
                    oZhuanLan.style.height = '98px';
                }
            </script>
        </div>
    </div>
    <div class="right_article_title">
        <script>
            // 生成文章列表
            let oArticle = document.querySelector('.right_article_title');
            for (let i = 0; i < article.length; i++) {
                oArticle.innerHTML += "<div class=\"articles bg_model\">\n" +
                    "            <h1><a href=" + article[i][5] + ">" + article[i][0] + "</a></h1>\n" +
                    "            <p>" + article[i][1] + "</p>\n" +
                    "            <p><span class=\"article_data\">\n" +
                    "                <span class=\"iconfont icon-shuben\"></span>&nbsp;" + article[i][2] + "&nbsp;阅读\n" +
                    "            </span> <span class=\"article_data\">\n" +
                    "                <span class=\"iconfont icon-pinglun\"></span>&nbsp;" + article[i][3] + "&nbsp;评论\n" +
                    "            </span> <span class=\"article_data\">\n" +
                    "                <span class=\"iconfont icon-dianzan\"></span>&nbsp;" + article[i][4] + "&nbsp;点赞\n" +
                    "            </span></p></div>";
            }
        </script>
    </div>
</div>
<div class="tags">
    <div class="float_tag">
        <span class="iconfont icon-ico"></span>
    </div>
    <div class="float_tag">
        <span class="iconfont icon-kefu1"></span>
    </div>
    <div class="float_tag top top_float">
        <a class="return_top iconfont icon-top" href="javascript:scroll(0,0)" title="点击返回顶部"></a>
    </div>
    <script>
        let floatStatus = true,  // 运动状态标记，避免重复运动
            oTag1 = document.querySelector('.float_tag'),
            oTag2 = document.querySelectorAll('.float_tag')[1],
            tops = document.querySelector('.top');

        //top按钮的隐藏及其余两个小球的运动
        function scrollBottom() {
            let clients = window.innerHeight,  // BOM操作：浏览器窗口大小
                scrollTop = document.documentElement.scrollTop,  // 滚动高度
                wholeTop = document.documentElement.scrollHeight;  // 总高度
            if (clients + scrollTop >= wholeTop / 1.5) {
                tops.className = 'float_tag top';
                if (floatStatus) {
                    //延迟时间后运动
                    setTimeout(function () {
                        oTag2.className += ' tag_float_top'
                    }, 200)
                    setTimeout(function () {
                        oTag2.className = 'float_tag';
                        oTag1.className += ' tag_float_top'
                    }, 400)
                    setTimeout(function () {
                        oTag1.className = 'float_tag';
                    }, 500)
                }
                floatStatus = false;
            } else {
                tops.className = 'float_tag top top_float';
                floatStatus = true;
            }
        }

        // 滚动监听器
        window.onscroll = scrollBottom;
    </script>
</div>
<!--引入外部footer-->
<object data="{{ url_for('footer') }}" height="116px" style="margin-top: 20px;" width="100%"></object>
</body>
</html>
